*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

body {
    padding: 50px;
    font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1{
    font-size: 50px;
    margin-bottom: 1px;
}

.container{
    border: solid 1px blueviolet;
    max-width: 500px;
    margin-top: 10px;
}

.element-form{
    padding: 10px;
}

button{
    background-color: #00B7FF;
    color: white;
    width: 90px ;
    height: 35px;
}

